rgb_test_data/
TIR+LS_test/
.vscode/
data/
results/
scripts/__pycache__/
scripts/visualization/__pycache__/
wandb/
TIR_sisr/
wandb_*/
*.pth
*.ckpt
data/raw/
results/
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store4
slurm-*.out

stuff.txt
stuff_copy.txt

COSIA_1-0_GPKG_LAMB93_RHONE

# track only pdf 
docs/thesis/*
!docs/thesis/main.pdf

campaign_bounds.json
TIR_data/